# Html 解析
import bs4
# 配合 bs4 做 Html 解析
import lxml
# 按 template 框架生成 html
import jinja2
# 操作 xlsx 文件
import openpyxl
# Console 输出格式化表格
import prettytable
# 简化网络请求
import requests
# 聚宽数据接口
import jqdatasdk

pip install BeautifulSoup lxml jinja2 openpyxl prettytable requests jqdatasdk